<a href="https://colab.research.google.com/github/kiamaikocoders/dsc-phase-2-project-v3/blob/main/PHASE_2_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
#accessing the datasets
tmdb_movie = pd.read_csv('/content/tmdb.movies.csv')
tmdb_movie.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [ ]:
# prompt: Using dataframe tmdb_movie: do data cleaning

import pandas as pd
# Drop the 'Unnamed: 0' column as it is likely an index and not useful for analysis
tmdb_movie = tmdb_movie.drop('Unnamed: 0', axis=1)

# Convert 'release_date' to datetime objects, handling potential errors
tmdb_movie['release_date'] = pd.to_datetime(tmdb_movie['release_date'], errors='coerce')

# Handle missing values (replace with empty string for string columns, 0 for numerical)
tmdb_movie['original_title'].fillna('', inplace=True)
tmdb_movie['title'].fillna('', inplace=True)
tmdb_movie['popularity'].fillna(0, inplace=True)
tmdb_movie['vote_average'].fillna(0, inplace=True)
tmdb_movie['vote_count'].fillna(0, inplace=True)

# Optionally, you might want to convert genre_ids to a more usable format (e.g., list of integers)
# This depends on how you intend to use this column
# Example:
# tmdb_movie['genre_ids'] = tmdb_movie['genre_ids'].apply(lambda x: [int(i) for i in x.strip('[]').split(',') if i] if isinstance(x, str) else [])

print(tmdb_movie.head())

             genre_ids     id original_language  \
0      [12, 14, 10751]  12444                en
1  [14, 12, 16, 10751]  10191                en
2        [12, 28, 878]  10138                en
3      [16, 35, 10751]    862                en
4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186

In [ ]:
born_movie = pd.read_csv('/content/bom.movie_gross.csv')
born_movie.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
movie_budgets = pd.read_csv('/content/tn.movie_budgets.csv')
movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

# DATA CLEANING

In [ ]:
# prompt: merge  original_title and title in the csv file tmdb_movie

import pandas as pd
import numpy as np
import pandas as pd
#accessing the datasets
tmdb_movie = pd.read_csv('/content/tmdb.movies.csv')
tmdb_movie.head()

# Drop the 'Unnamed: 0' column as it is likely an index and not useful for analysis
tmdb_movie = tmdb_movie.drop('Unnamed: 0', axis=1)

# Convert 'release_date' to datetime objects, handling potential errors
tmdb_movie['release_date'] = pd.to_datetime(tmdb_movie['release_date'], errors='coerce')

# Handle missing values (replace with empty string for string columns, 0 for numerical)
tmdb_movie['original_title'].fillna('', inplace=True)
tmdb_movie['title'].fillna('', inplace=True)
tmdb_movie['popularity'].fillna(0, inplace=True)
tmdb_movie['vote_average'].fillna(0, inplace=True)
tmdb_movie['vote_count'].fillna(0, inplace=True)

# Optionally, you might want to convert genre_ids to a more usable format (e.g., list of integers)
# This depends on how you intend to use this column
# Example:
# tmdb_movie['genre_ids'] = tmdb_movie['genre_ids'].apply(lambda x: [int(i) for i in x.strip('[]').split(',') if i] if isinstance(x, str) else [])

# Merge 'original_title' and 'title' columns
tmdb_movie['combined_title'] = tmdb_movie['original_title'] + ' ' + tmdb_movie['title']

print(tmdb_movie.head())

born_movie = pd.read_csv('/content/bom.movie_gross.csv')
born_movie.head()
movie_budgets = pd.read_csv('/content/tn.movie_budgets.csv')
movie_budgets.head()

             genre_ids     id original_language  \
0      [12, 14, 10751]  12444                en
1  [14, 12, 16, 10751]  10191                en
2        [12, 28, 878]  10138                en
3      [16, 35, 10751]    862                en
4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count  \
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186

                                      combined_title
0  Harry Potter and the Deathly Hallows: Part 1 H...
1  How to Train Your Dragon How to Train Your Dragon
2                              Iron Man 2 Iron Man 2
3                                Toy Story Toy Story
4                                Inception Inception

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [ ]:
#merge 'original_title' and 'title' columns
tmdb_movie['combined_title'] = tmdb_movie['original_title'] + ' ' + tmdb_movie['title']
tmdb_movie.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,combined_title
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,Harry Potter and the Deathly Hallows: Part 1 H...
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,How to Train Your Dragon How to Train Your Dragon
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,Iron Man 2 Iron Man 2
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,Toy Story Toy Story
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,Inception Inception

In [ ]:
conn = sqlite3.connect('im.db')
cursor = conn.cursor()

In [ ]:
# Assuming 'conn' is your connection to the database
pd.read_sql_query("""CREATE TABLE project_movie AS
SELECT
    mb.primary_title AS title, -- Assuming 'title' comes from movie_basics
    -- Add other columns similarly, specifying the source table using aliases
    bom.studio,
    bom.domestic_gross,
    bom.foreign_gross,
    tmdb.popularity,
    tmdb.release_date,
    tmdb.vote_average,
    tmdb.vote_count,
    tn.release_date, -- Handle potential conflicts due to duplicate column names
    tn.movie,
    tn.production_budget,
    tn.domestic_gross,
    tn.worldwide_gross,
    rt.synopsis,
    rt.rating,
    rt.genre,
    rt.director,
    rt.writer,
    rt.theater_date,
    rt.dvd_date,
    rt.studio,
    rv.review,
    rv.rating,
    rv.fresh,
    rv.critic,
    rv.top_critic,
    rv.publisher,
    rv.date,
    mb.movie_id
FROM
    movie_basics mb
LEFT JOIN
    bom_movie_gross bom ON mb.primary_title = bom.title -- Adjust join condition as needed
LEFT JOIN
    tmdb_movies tmdb ON mb.primary_title = tmdb.title -- Adjust join condition as needed
LEFT JOIN
    tn_movie_budgets tn ON mb.primary_title = tn.movie -- Adjust join condition as needed
LEFT JOIN
    rt_movie_info rt ON mb.primary_title = rt.synopsis -- Adjust join condition as needed
LEFT JOIN
    rt_reviews rv ON mb.primary_title = rv.review -- Adjust join condition as needed;
""", conn)

DatabaseError: Execution failed on sql 'CREATE TABLE project_movie AS
SELECT
    mb.primary_title AS title, -- Assuming 'title' comes from movie_basics
    -- Add other columns similarly, specifying the source table using aliases
    bom.studio,
    bom.domestic_gross,
    bom.foreign_gross,
    tmdb.popularity,
    tmdb.release_date,
    tmdb.vote_average,
    tmdb.vote_count,
    tn.release_date, -- Handle potential conflicts due to duplicate column names
    tn.movie,
    tn.production_budget,
    tn.domestic_gross,
    tn.worldwide_gross,
    rt.synopsis,
    rt.rating,
    rt.genre,
    rt.director,
    rt.writer,
    rt.theater_date,
    rt.dvd_date,
    rt.studio,
    rv.review,
    rv.rating,
    rv.fresh,
    rv.critic,
    rv.top_critic,
    rv.publisher,
    rv.date,
    mb.movie_id
FROM
    movie_basics mb
LEFT JOIN
    bom_movie_gross bom ON mb.primary_title = bom.title -- Adjust join condition as needed
LEFT JOIN
    tmdb_movies tmdb ON mb.primary_title = tmdb.title -- Adjust join condition as needed
LEFT JOIN
    tn_movie_budgets tn ON mb.primary_title = tn.movie -- Adjust join condition as needed
LEFT JOIN
    rt_movie_info rt ON mb.primary_title = rt.synopsis -- Adjust join condition as needed
LEFT JOIN
    rt_reviews rv ON mb.primary_title = rv.review -- Adjust join condition as needed;
': no such table: movie_basics

In [ ]:
# Import necessary libraries
import pandas as pd  # For data manipulation and analysis using dataframes
import numpy as np  # For numerical operations and array manipulation
import matplotlib.pyplot as plt  # For creating static, interactive, and animated visualizations in Python
import seaborn as sns  # For making statistical graphics in Python (built on top of matplotlib)

import zipfile  # For unzipping compressed files
import sqlite3  # For connecting to and querying SQLite databases

%matplotlib inline

In [ ]:
#Load the CSV files
bom_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz')
tn_movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
rt_movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t', encoding='unicode_escape')
rt_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter='\t', encoding='unicode_escape')

In [ ]:
#Unzip and load the SQLite Database
with zipfile.ZipFile('zippedData/im.db.zip', 'r') as z:
    z.extractall()

conn = sqlite3.connect('im.db')
cursor = conn.cursor()

table_names = pd.read_sql("SELECT name FROM sqlite_master WHERE type = 'table';", conn)
print(table_names)

In [ ]:
#Load the relevant tables from the database
movie_basics = pd.read_sql_query("SELECT * FROM movie_basics", conn)
movie_ratings = pd.read_sql_query("SELECT * FROM movie_ratings", conn)

In [ ]:
# Display the first few rows of each dataframe to understand their structure
print(bom_movie_gross.head())
print(tmdb_movies.head())
print(tn_movie_budgets.head())
print(rt_movie_info.head())
print(rt_reviews.head())

print(movie_basics.head())
print(movie_ratings.head())

# Handle missing values and data cleaning
bom_movie_gross.dropna(inplace=True)
tmdb_movies.dropna(inplace=True)
tn_movie_budgets.dropna(inplace=True)
rt_movie_info.dropna(inplace=True)
rt_reviews.dropna(inplace=True)
movie_basics.dropna(inplace=True)
movie_ratings.dropna(inplace=True)

# Step 2: Merge Data Sources

In [ ]:
# Merging relevant tables from the sqlite database (movie basics and movie ratings)
movie_basics_and_ratings = pd.read_sql("""
SELECT
   movie_id AS movies_id,
   primary_title,
   original_title,
   start_year,
   runtime_minutes,
   genres,
   averagerating,
   numvotes

FROM movie_basics
JOIN  movie_ratings
USING (movie_id);
""", conn)

movie_basics_and_ratings